#tweetItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTweet {}

#liked {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hidden {
    display: none;
}

#list {
    position: relative;
    list-style: none;
    padding: 15px;
    width: 50%;
}

ul li button {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}

ul li button:nth-child(2) {
    position: absolute;
    right: 50px;
}

ul li {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 15px;
    width:430px;
}

#navigationButtons {
    width: 40%;
    position: relative;
}

#goToLikedButton {
    right: 10px;
    position: absolute;
}


ul li {
    list-style: none;
    padding: 10px;
    color: white;
    background-color: black;
    margin-bottom: 5px;
}
span {
    width: 300px;
    word-wrap: break-word;
  }
button{
    background-color: skyblue;
    border-radius: 15px;
    height: 25px;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#alertMessage{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        background-color: #0a0a0a;
        box-shadow: 0px 0px 15px rgba(233, 52, 52, 0.1);
        padding: 20px;
        font-size: 16px;
        color: #f3e7e7;
        z-index: 100;
        border-radius: 15px;
      
}
/* h1 {
    font-size: 48px;   
    font-weight: bold; 
    color: #333; 
    text-align: center; 
    text-shadow: 2px 2px 0px #fff; 
    letter-spacing: 1px; 
    margin: 20px 0;
  } */
  
  h1 {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #1da1f2;
    text-shadow: 2px 2px #000000;
    margin: 0;
    padding: 1rem;
    background-color: #f7f7f7;
    border: 1px solid #1da1f2;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000000;
    margin-bottom: 20px;
  }
  body {
    background-color: #15202b;
    background-image: url('https://abs.twimg.com/images/themes/theme1/bg.png');
    background-repeat: repeat-x;
    background-position: top;
    background-attachment: fixed;
  }
 